:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #383838;
  --very-light-pink: #c7c7c7;
  --text-input-field: #ececec;
  --hospital-green: #a3daaa;

  --border-radius: 10px;

  --sm: 0.5rem;
  --md: 0.8rem;
  --lg: 1.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 1rem;
}

main {
  display: grid;
  place-items: center;
  align-content: center;
  height: calc(100vh - 40px);
}

.headline {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  margin-bottom: 1.3rem;
}

.headline img {
  width: 30px;
}

.green__accent {
  color: var(--hospital-green);
}

h1 {
  text-align: center;
  font-size: var(--lg);
  font-weight: bolder;
}

.form_ {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__container label {
  font-size: var(--md);
  font-weight: bolder;
  margin-bottom: 4px;
}

.form__container input {
  margin-bottom: 1rem;
  height: 1.4rem;
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius);
  border: 1px var(--text-input-field) solid;
  background-color: var(--text-input-field);
  color: var(--dark);
}

a {
  text-decoration: none;
}

.remember__password {
  text-align: center;
  font-size: var(--md);
  color: var(--hospital-green);
}

/* ----------- Button styles ------------- */
.primary__button {
  display: block;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: var(--hospital-green);
  color: var(--white);
  padding: 1rem;
  height: 50px;
  border-radius: var(--border-radius);
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.alternative__button {
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: var(--md);
  color: var(--hospital-green);
  padding: 1rem;
  height: 50px;
  background-color: var(--white);
  border: 2px var(--hospital-green) solid;
  border-radius: var(--border-radius);
}

.signup {
  position: fixed;
  width: calc(100vw - 30px);
  bottom: 2rem;
}

/* --------- EMAIL SEND ------------ */
.form__container > p {
  text-align: center;
  font-size: var(--md);
  color: var(--very-light-pink);
}

.body__message {
  display: grid;
  text-align: center;
  place-items: center;
  align-content: center;
}

.body__message .email__icon {
  width: 150px;
  height: 150px;
  background-color: var(--text-input-field);
  border-radius: 100%;
  text-align: center;
  margin-bottom: 1rem;
  /* padding: 5px; */
}

.body__message .body__text {
  margin-bottom: 2rem;
  padding: 0 4rem;
}
.body__text p {
  color: var(--very-light-pink);
}

@media (min-width: 640px) {
  /* --------- DESKTOP ------------- */
}
